header img {
  width: 15%;
  height: auto;
}

header {
  text-align: center;
  background-position: 0 -400px;
  background-size: 100%;
}

footer .card-header {
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: center;
  font-size: 15pt;
}

footer .card-body {
  background-color: rgb(100, 100, 100);
  color: white;
  text-align: center;
}

#home1 {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin-bottom: 50px;
  text-align: justify;
}

#home2 {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin-bottom: 50px;
  text-align: justify;
}

#imgHome {
  text-align: center;
}

#imgHome img {
  width: 600px;
  height: 350px;
  margin: 0 10px;
  transition: ease 1s;
  opacity: 90%;
}

#imgHome img:hover {
  border-radius: 30%;
  opacity: 100%;
  cursor: pointer;
}

#imgLazer img {
  width: 200px;
  height: 180px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10%;
}

#imgLazer {
  text-align: center;
}

#imgLazer img:hover {
  opacity: 80%;
}
h1,
h2 {
  color: white;
  text-align: center;
}
#texto {
  color: white;
  text-align: center;
}

#container {
  display: inline-block;
  border-bottom: 2px solid black;
  box-shadow: 5px 5px 20px black;
  margin-bottom: 80px;
}

#linha {
  display: table;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#texto1 {
  padding: 5px;
  width: 70%;
  float: left;
  color: white;
}
h3 {
  font-family: "Jockey+One";
  margin-left: 0;
  font-size: 20pt;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: center;
}
p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify;
  /* aplicaremos o comando que aumenta oa altura da linha. esse efeito simula o espaçamento entre linhas encontrado no Word. O comando é
  line-height-> linha hight; */
  line-height: 30px;
  margin-bottom: 30px;
  font-family: "Jockey+One";
  font-size: 13pt;
}

#imgLazer2 img {
  width: 200px;
  height: 180px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10%;
}

#imgLazer2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
}

#imgLazer2 img:hover {
  opacity: 80%;
}
#mapa {
  text-align: center;
}
/* label color */
.input-field label {
  color: white;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: white;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: white;
}

#sex_masculino,
#sex_feminino {
  margin-left: 120px;
  position: relative;
}
